/* You can add global styles to this file, and also import other style files */

/* body {
    background-color: #292929;
    
    color: #cccccc;
    
}
hr {
    border-top: 1px solid rgba(107,107,107,1);
} */

body{
    background-color: rgb(87, 87, 87);
    color: #fff;
}
